<!doctype html>
<html>
<head>  
	<meta charset="utf-8">
	<meta name="keywords" content="Instagram, Augmented Reality, Filters, Masks, Digital Marketing">
	<meta name="description" content="{{ this.page.meta_description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<link rel="shortcut icon" type="image/png" href="{{ 'assets/favicon.png'|theme }}">
	
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/bootstrap.min.css?6984'|theme }}">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/style.css?2956'|theme }}">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/animate.min.css?3729'|theme }}">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/anim_background.css?1045'|theme }}">
	
	
	
<!-- Additional JS -->
<script src="{{ 'assets/javascript/jquery-3.3.1.min.js?3322'|theme }}">
<script src="{{ 'assets/javascript/bootstrap.bundle.min.js?2685'|theme }}">
<script src="{{ 'assets/javascript/blocs.min.js?2316'|theme }}">
<script src="{{ 'assets/javascript/lazysizes.min.js'|theme }}" defer></script>
<script src="{{ 'assets/javascript/be-animated-background.js?8112'|theme }}"></script>
<script src="{{ 'assets/javascript/jquery.scrollify.js?3633'|theme }}"></script>
<script src="{{ 'assets/javascript/tilt.jquery.js?5621'|theme }}"></script>
<script src="{{ 'assets/javascript/scrollFX.js?6166'|theme }}"></script>
<!-- Additional JS END -->

	<title>{{ this.page.title }}</title>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WD2GD4C');</script>
<!-- End Google Tag Manager -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129172909-3"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-129172909-3', { 'optimize_id': 'GTM-MDRT828'});
</script>

	
<!-- Google Analytics -->
 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129172909-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-129172909-3');
</script>

<!-- Google Analytics END -->

</head>
<body>
<!-- Main container -->
<div class="page-container">
     {% page %}
</div>
<!-- Main container END -->


<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WD2GD4C"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
</body>
</html>